<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" id="sheet"
          href="<% if(style == 'dunkel') { %>css/dark.css<% } else { %>css/default.css<% } %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="header">
    <div class="header-fixed-size">
        <h1 class="logo">EasyCalc</h1>
        <label class="switch">
            <input type="checkbox" id="styleChecker" <% if(style == 'hell') { %>checked
                    <% } %>
            >
            <span class="slider round"></span>
        </label>
        <% if(activeSession.loggedin) { %><div class="userbox"><p class="username"><%= activeSession.username %></p><br></div><% } else { %><div style="display: none"></div><% } %>
        <nav class="navbar">
            <div class="dropdown">
                <script src="skripts/dropdown.js"></script>
                <input type="image"
                       src="<% if (style == 'hell') { %>images/ThreeLines.svg<% } else { %>images/ThreeLinesDark.svg<% } %>"
                       class="dropbtn" onClick="mobileNavbar()">
                <div id="myDropdown" class="dropdown-content">
                    <a href="index.html">HOME</a>
                    <a href="kurs.html">KURS</a>
                    <a href="info.html">INFO</a>
                    <% if(activeSession.loggedin) { %> <a href="logout">LOGOUT</a>
                    <% } else { %>
                        <a href="login.html">LOGIN</a>
                    <% } %>
                </div>

            </div>
        </nav>

        <hr>
    </div>
</header>
<section class="fixed-size">
    <h1 class="kursHeader">Devisen & Währungen</h1>
    <!-- Es muss noch so geändert werden, dass hier die Kurse aus dem backend ausgelesen werden -->
    <div class="kurse">
        <table id="table">
            <tr>
                <th id="currentDay" colspan="4"></th>
            </tr>
            <tr>
                <th>Währungen</th>
                <th>Kurs</th>
                <th>Veränderung</th>
                <th>Veränderung %</th>
            </tr>
            <tr>
                <td><img src="images/EU_flag.svg" width="17px"> EUR > USD <img src="images/USA_flag.svg" width="17px"></td>
                <td id="td1">Zahl</td>
                <td id ="td13">+Zahl</td>
                <td id="td25">+Zahl %</td>
            </tr>
            <tr>
                <td><img src="images/EU_flag.svg" width="17px"> EUR > GBP <img src="images/UK_flag.svg" width="17px"></td>
                <td id="td2">Zahl</td>
                <td id="td14">+Zahl</td>
                <td id="td26">+Zahl %</td>
            </tr>
            <tr>
                <td><img src="images/EU_flag.svg" width="17px"> EUR > YEN <img src="images/JAP_flag.svg" width="17px"></td>
                <td id="td3">Zahl</td>
                <td id="td15">+Zahl</td>
                <td id="td27">+Zahl %</td>
            </tr>
            <tr>
                <td><img src="images/USA_flag.svg" width="17px"> USD > EUR <img src="images/EU_flag.svg" width="17px"></td>
                <td id="td4">Zahl</td>
                <td id="td16">+Zahl</td>
                <td id="td28">+Zahl %</td>
            </tr>
                <td><img src="images/USA_flag.svg" width="17px"> USD > GBP <img src="images/UK_flag.svg" width="17px"></td>
                <td id="td5">Zahl</td>
                <td id="td17">+Zahl</td>
                <td id="td29">+Zahl %</td>
            </tr>
            <tr>
                <td><img src="images/USA_flag.svg" width="17px"> USD > YEN <img src="images/JAP_flag.svg" width="17px"></td>
                <td id="td6">Zahl</td>
                <td id="td18">+Zahl</td>
                <td id="td30">+Zahl %</td>
            </tr>
            <tr>
                <td><img src="images/UK_flag.svg" width="17px"> GBP > EUR <img src="images/EU_flag.svg" width="17px"></td>
                <td id="td7">Zahl</td>
                <td id="td19">+Zahl</td>
                <td id="td31">+Zahl %</td>
            </tr>
            <tr>
                <td><img src="images/UK_flag.svg" width="17px"> GBP > USD <img src="images/USA_flag.svg" width="17px"></td>
                <td id="td8">Zahl</td>
                <td id="td20">+Zahl</td>
                <td  id="td32">+Zahl %</td>
            </tr>
            <tr>
                <td><img src="images/UK_flag.svg" width="17px"> GBP > YEN <img src="images/JAP_flag.svg" width="17px"></td>
                <td id="td9">Zahl</td>
                <td id="td21">+Zahl</td>
                <td id="td33">+Zahl %</td>
            </tr>
            <tr>
                <td><img src="images/JAP_flag.svg" width="17px"> YEN > EUR <img src="images/EU_flag.svg" width="17px"></td>
                <td id="td10">Zahl</td>
                <td id="td22">+Zahl</td>
                <td id="td34">+Zahl %</td>
            </tr>
            <tr>
                <td><img src="images/JAP_flag.svg" width="17px"> YEN > USD <img src="images/USA_flag.svg" width="17px"></td>
                <td id="td11">Zahl</td>
                <td id="td23">+Zahl</td>
                <td  id="td35">+Zahl %</td>
            </tr>
            <tr>
                <td><img src="images/JAP_flag.svg" width="17px"> YEN > GBP <img src="images/UK_flag.svg" width="17px"></td>
                <td id="td12">Zahl</td>
                <td id="td24">+Zahl</td>
                <td id="td36">+Zahl %</td>
            </tr>
        </table>
    </div>
</section>
<!--
===================================
Footer
===================================
-->
<div>
    <footer class="footer">
        <hr>
        <h1 class="footer-header"><a href="impressum.html">Impressum</a></h1>
        <p>Dennis & Armen</p>
        <p>Münsterstraße 265 46397 Bocholt</p>
        <p>WHS</p>
    </footer>
</div>
</body>
<!--
===================================
Responsive Navbar Skript
===================================
-->
<script>
    function mobileNavbar() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

<!--
===================================
Cookies Skript
===================================
-->
<script>
    //Import der Variablen aus der RenderEngine (EJS)
    //Die Variablen werden von den nachfolgenden Skripten benötigt

    var style = "<%= style %>";
    <% if(locals.statistics) { %>
    var statistics = <%- JSON.stringify(statistics) %>;
    <% } %>
</script>
<% if(locals.statistics) { %>
    <script src="skripts/canvasJS.js"></script>
<% } %>
<script src="skripts/cookieStyleLoader.js"></script>
<script>
    <% if(locals.Kurse) { %> Kurse = <%- JSON.stringify(Kurse)%>;<% } %>
const td1 = document.getElementById("td1");
const td2 = document.getElementById("td2");
const td3 = document.getElementById("td3");
const td4 = document.getElementById("td4");
const td5 = document.getElementById("td5");
const td6 = document.getElementById("td6");
const td7 = document.getElementById("td7");
const td8 = document.getElementById("td8");
const td9 = document.getElementById("td9");
const td10 = document.getElementById("td10");
const td11 = document.getElementById("td11");
const td12 = document.getElementById("td12");

//--------------------------------------------
// Vorherige Kurse
//--------------------------------------------

<% if(locals.Kurse) { %> OldKurse = <%- JSON.stringify(OldKurse)%>;<% } %>

const td13 = document.getElementById("td13");
const td14 = document.getElementById("td14");
const td15 = document.getElementById("td15");
const td16 = document.getElementById("td16");
const td17 = document.getElementById("td17");
const td18 = document.getElementById("td18");
const td19 = document.getElementById("td19");
const td20 = document.getElementById("td20");
const td21 = document.getElementById("td21");
const td22 = document.getElementById("td22");
const td23 = document.getElementById("td23");
const td24 = document.getElementById("td24");

// Veränderung in Prozent
const td25 = document.getElementById("td25");
const td26 = document.getElementById("td26");
const td27 = document.getElementById("td27");
const td28 = document.getElementById("td28");
const td29 = document.getElementById("td29");
const td30 = document.getElementById("td30");
const td31 = document.getElementById("td31");
const td32 = document.getElementById("td32");
const td33 = document.getElementById("td33");
const td34 = document.getElementById("td34");
const td35 = document.getElementById("td35");
const td36 = document.getElementById("td36");
</script>
<script src = "skripts/kurse.js"></script>

<script>
    var today = new Date();
    day = today.getDate();
    month = today.getMonth() + 1;
    year = today.getFullYear();
    document.getElementById("currentDay").innerHTML = " Stand " + day + "." + month + "." + year;
</script>
</html>