<!DOCTYPE html>
<html>
<head>
    <script src="skripts/dropdown.js"></script>
    <title></title>
    <link rel="stylesheet" id="sheet"
          href="<% if(style == 'dunkel') { %>css/dark.css<% } else { %>css/default.css<% } %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<header class="header">
    <div class="fixed-size">
        <h1 class="logo">EasyCalc</h1>
        <label class="switch">
            <input type="checkbox" id="styleChecker" <% if(style == 'hell') { %>checked
                    <% } %>
            >
            <span class="slider round"></span>
        </label>
        <nav class="navbar">
            <div class="dropdown">
                <input type="image" src="images/ThreeLinesDark.svg" class="dropbtn" onClick="mobileNavbar()">
                <div id="myDropdown" class="dropdown-content">
                    <a href="index.html">HOME</a>
                    <a href="kurs.html">KURS</a>
                    <a href="formeln.html">FORMELN</a>
                    <% if(activeSession.loggedin) { %> <a href="logout">LOGOUT</a>
                    <% } else { %>
                        <a href="login.html">LOGIN</a>
                    <% } %>
                </div>

            </div>
        </nav>
        <hr>
    </div>
</header>
<section class="fixed-size">
    <% if(activeSession.loggedin) { %><div class="userbox"><p class="username"><%= activeSession.username %></p><br></div><% } else { %><div style="height: 50px;"></div><% } %>
    <!--
    =================================================================================
       v Muss beim Überarbeiten des Designs übernommen werden   v   v   v   v   v   v
    =================================================================================
    -->
    <div>
    <h1>Divisenkurs-Rechner</h1>
        <form action="/waehrungen-rechner.html" method="POST">
            <label fpr="mode">Divisenkurs: </label>
            <select name="mode" id="mode" required>
                <optgroup label="Euro">
                    <option value="1">EUR > USD</option>
                    <option value="2">EUR > GBP</option>
                    <option value="3">EUR > YEN</option>
                </optgroup>
                <optgroup label="US Dollar">
                    <option value="4">USD > EUR</option>
                    <option value="5">USD > GBP</option>
                    <option value="6">USD > YEN</option>
                </optgroup>
                <optgroup label="UK Pfund">
                    <option value="7">GBP > EUR</option>
                    <option value="8">GBP > USD</option>
                    <option value="9">GBP > YEN</option>
                </optgroup>
                <optgroup label="Yen">
                    <option value="10">YEN > EUR</option>
                    <option value="11">YEN > USD</option>
                    <option value="12">YEN > GBP</option>
                </optgroup>
            </select>
            <br><br>
            <label>Betrag: </label>
            <input id="numberField"  type="number" min="0" placeholder="0" step="0.01" name="input" required>
            <input type="submit" value="Berechnen">
        </form>
        <br>
        <p id="resultLabel"></p>
    </div>
    <br>
    <div>
        <h1>Verlauf</h1>
        <ul id="list" class="chronicList">

        </ul>
        <div class="pager-btn">
            <button id="prevBTN" style="float:left;" onclick="prevRange(10)"><<</button>
            <button id="nextBTN" style="float:left;" onclick="nextRange(10)">>></button>
        </div>
    </div>
    <!--
    =================================================================================
    ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   
    =================================================================================
    -->
</section>
<!--
    ===================================
    Footer
    ===================================
    -->
<div>
    <footer class="footer fixed-size">
        <hr>
        <h1 class="footer-header"><a href="impressum.html">Impressum</a></h1>
        <p>Dennis & Armen</p>
        <p>Münsterstraße 999 Bocholt</p>
        <p>WHS</p>
    </footer>
</div>
</body>
<!--
    ===================================
    Skripte
    ===================================
    -->
<script>
    // Rechner
    const mode = document.getElementById('mode');                   //Dropdown-Selektor
    const numberField = document.getElementById('numberField');     //Eingabefeld
    const resultLabel = document.getElementById('resultLabel');
    // Pager
    const list = document.getElementById('list');
    const prevBTN = document.getElementById('prevBTN');
    const nextBTN = document.getElementById('nextBTN');
    // Antwort vom Backend
    var result;
    var inputSet;
    <% if(locals.result) {%>result = <%= result%>;<%} %>
    <% if(locals.inputSet) {%>inputSet = <%-JSON.stringify(inputSet)%>;<% } %>
</script>
<script src="skripts/waehrungen-rechnerLogic.js"></script>



<script>
    //Import der Variablen aus der RenderEngine (EJS)
    //Die Variablen werden von den nachfolgenden Skripten benötigt

    var style = "<%= style %>";
    <% if(locals.statistics) { %>
        var statistics = <%-JSON.stringify(statistics)%>;
    <% } %>
</script>
<% if(locals.statistics) { %>
    <script src="skripts/canvasJS.js"></script>
<% } %>
<script src="skripts/cookieStyleLoader.js"></script>
</html>