<!DOCTYPE html>
<html>
<head>
    <script src="skripts/dropdown.js"></script>
    <title>EasyCalc | Währungs-Rechner</title>
    <link rel="stylesheet" id="sheet"
          href="<% if(style == 'dunkel') { %>css/dark.css<% } else { %>css/default.css<% } %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favico.ico" />
</head>
<body>
<header class="header">
    <div class="header-fixed-size">
        <h1 class="logo">EasyCalc</h1>
        <label class="switch">
            <input type="checkbox" id="styleChecker" <% if(style == 'hell') { %>checked
                    <% } %>
            >
            <span class="slider round"></span>
        </label>
        <% if(activeSession.loggedin) { %>
            <div class="userbox"><p class="username"><%= activeSession.username %></p><br></div>
        <% } else { %>
            <div style="display: none"></div>
        <% } %>
        <nav class="navbar">
            <div class="dropdown">
                <script src="skripts/dropdown.js"></script>
                <input type="image"
                       src="<% if (style == 'hell') { %>images/ThreeLines.svg<% } else { %>images/ThreeLinesDark.svg<% } %>"
                       class="dropbtn" onClick="mobileNavbar()">
                <div id="myDropdown" class="dropdown-content">
                    <a href="index.html">HOME</a>
                    <a href="kurs.html">KURS</a>
                    <a href="info.html">INFO</a>
                    <% if(activeSession.loggedin) { %> <a href="logout">LOGOUT</a>
                    <% } else { %>
                        <a href="login.html">LOGIN</a>
                    <% } %>
                </div>

            </div>
        </nav>

        <hr>
    </div>
</header>
<section class="fixed-size">
    <!--
    =================================================================================
       v Muss beim Überarbeiten des Designs übernommen werden   v   v   v   v   v   v
    =================================================================================
    -->
    <div>
        <h1 class="rechner-header">Devisenkurs-Rechner</h1>
        <form action="/waehrungen-rechner.html" class="rechner-form" method="POST">
            <select name="mode" id="mode" required>
                <optgroup label="Euro">
                    <option value="1">EUR > USD</option>
                    <option value="2">EUR > GBP</option>
                    <option value="3">EUR > YEN</option>
                </optgroup>
                <optgroup label="US Dollar">
                    <option value="4">USD > EUR</option>
                    <option value="5">USD > GBP</option>
                    <option value="6">USD > YEN</option>
                </optgroup>
                <optgroup label="UK Pfund">
                    <option value="7">GBP > EUR</option>
                    <option value="8">GBP > USD</option>
                    <option value="9">GBP > YEN</option>
                </optgroup>
                <optgroup label="Yen">
                    <option value="10">YEN > EUR</option>
                    <option value="11">YEN > USD</option>
                    <option value="12">YEN > GBP</option>
                </optgroup>
            </select>
            <input id="numberField" class="nmbField" type="number" min="0" placeholder="0" step="0.01" name="input"
                   required>
            <input type="submit" value="Berechnen" class="berechnenbtn">
            <p id="resultLabel" class="resultLabel"></p>
        </form>
        <br>
    </div>
    <br>
    <div>
        <h1 id="verlauf-header" class="verlauf-header">Verlauf</h1>
        <ul id="list" class="chronicList">

        </ul>
        <div class="pager-btn">
            <button id="prevBTN" style="float:left;" onclick="prevRange(15)"><<</button>
            <button id="nextBTN" style="float:left;" onclick="nextRange(15)">>></button>
        </div>
    </div>
    <!--
    =================================================================================
    ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   
    =================================================================================
    -->
</section>
<!--
    ===================================
    Footer
    ===================================
    -->
<div>
    <footer class="footer">
        <hr>
        <h1 class="footer-header"><a href="impressum.html">Impressum</a></h1>
        <p>Dennis & Armen</p>
        <p>Münsterstraße 265 46397 Bocholt</p>
        <p>WHS</p>
    </footer>
</div>
</body>
<!--
    ===================================
    Skripte
    ===================================
    -->
<script>
    // Rechner
    const mode = document.getElementById('mode');                   //Dropdown-Selektor
    const numberField = document.getElementById('numberField');     //Eingabefeld
    const resultLabel = document.getElementById('resultLabel');
    // Antwort vom Backend
    var result;
    var inputSet;
    <% if(locals.result) { %>result = <%= result %>;<% } %>
    <% if(locals.inputSet) { %>inputSet = <%- JSON.stringify(inputSet) %>;<% } %>
    //Pager
    <%
    var tmp = "[";
    var match = 0;
    for (var i = chronic.length - 1; i >= 0; i--) {
        if (chronic[i].user == activeSession.username) {
            tmp = tmp + JSON.stringify(chronic[i]) + ",";
            ++match; //Wenn chronic leer ist, kann später es mit null angesetzt werden (sonst wäre es -> chronic = "]"). Es muss min. 1 match vorliegen
        }
    }
    tmp = tmp.substring(0, tmp.length - 1) + "]";
    if (match > 0) {
        chronic = tmp;
    } else {
        chronic = null; //Keine passenden Nutzerdaten gefunden
    }
    %>
    var chronic<% if(activeSession.loggedin && chronic) { %> = JSON.parse(<%- JSON.stringify(chronic) %>);<% } else { %> = "";<% } %> // Ich weis dass das hier sehr schwer zu verstehen ist.
    var left = 0;
    var right = 0;
    const list = document.getElementById('list');
    const nextBTN = document.getElementById('nextBTN');
    const prevBTN = document.getElementById('prevBTN');
    const verlaufHeader = document.getElementById('verlauf-header');
    verlaufHeader.style.display = 'none';
    nextBTN.style.display = 'none';
    prevBTN.style.display = 'none';
</script>
<script src="skripts/waehrungen-rechnerLogic.js"></script>
<script src="skripts/waehrungPager.js"></script>
<script>
    //Import der Variablen aus der RenderEngine (EJS)
    //Die Variablen werden von den nachfolgenden Skripten benötigt

    var style = "<%= style %>";
    <% if(locals.statistics) { %>
    var statistics = <%- JSON.stringify(statistics) %>;
    <% } %>
</script>
<% if(locals.statistics) { %>
    <script src="skripts/canvasJS.js"></script>
<% } %>
<script src="skripts/cookieStyleLoader.js"></script>
</html>